:root {
    --primary-color: #0047AB;      /* Haiti Blue */
    --secondary-color: #D21034;    /* Haiti Red */
    --accent-color: #F4C542;       /* Gold accent */
    --light-color: #FFFFFF;
    --dark-color: #222222;
    --card-bg: rgba(255, 255, 255, 0.90);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overlock", sans-serif;
}

body {
    background-color: #E8EFE6;
    padding: 8px;
    color: #2B2B2B;
}

header,
footer {
    background-color: var(--primary-color);
    color: var(--light-color);
}

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1.5rem;
}

header h1 {
    font-size: 3rem;
    margin: 0;
}


/* FOOTER */

footer {
    /* background-color: #1F3B2D; */
    color: #FAFAFA;
    padding: 20px;
    text-align: center;
}

footer p:last-child {
    color: gold;
    margin-top: 5px;
}

/* Class selectors */

.data-card {
    position: absolute;
    top: 75px;
    left: 20px;
    min-width: 300px;
    background-color: rgba(255,255,255,.85);
    backdrop-filter: blur(2px);
}

.data-card h2,
.weather-card h2 {
    width: 80%;
    margin-left: -10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 12px 15px;
    text-align: left;
    font-size: 2rem;
    background-color: var(--secondary-color);
    color: white;
}

.data-content,
.weather-content {
    padding: 1rem;
}

.data-content p,
.weather-content p {
    display: grid;
    grid-template-columns: 100px 150px;
    column-gap: 15px;
    margin: .3rem 0;
}

.data-content strong,
.weather-content strong {
    text-align: right;
    justify-self: end;
}

.data-content span,
.weather-content span {
    text-align: left;
    justify-self: start;
}

.weather-card {
    position: absolute;
    bottom: 40px;
    right: 20px;
    min-width: 240px;
    background-color: rgba(255,255,255,.85);
    backdrop-filter: blur(2px);
}


.hero {
    position: relative;
    margin-top: 0;
}

.hero img {
    width: 100%;
    height: 650px;
    object-fit: cover;
    display: block;
}

/* Mobile */
.weather-emoji {
    display: none;
}

.weather-icon {
    width: 64px;
    display: block;
    margin: 0 auto;
}

.weather-title::after {
    content: " ⛅";
    font-size: 1.5rem;
}

